# 01. Importing libraries

In [7]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [8]:
# Import products_orders_prior.csv as df_ords_prior
df_ords_prior = Check output

In [9]:
path = r'C:\Users\David\Desktop\Instacart Basket Analysis'

In [10]:
# Import orders_checked.csv datafile as df_ords
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [11]:
# Check output
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order
0,0,0,2539329,1,prior,1,2,8,7.0
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [12]:
df_ords_prior.shape

(32434489, 4)

In [13]:
df_ords.shape

(3421083, 9)

In [16]:
# Merge df_ords and df_ords_prior as df_merged_large
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [17]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,7.0,26405,5,0,both

In [22]:
df_merged_large= df_merged_large.loc[:,~df_merged_large.columns.str.match("Unnamed")]

In [24]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [25]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,7.0,196,1,0,both
1,2539329,1,prior,1,2,8,7.0,14084,2,0,both
2,2539329,1,prior,1,2,8,7.0,12427,3,0,both
3,2539329,1,prior,1,2,8,7.0,26088,4,0,both
4,2539329,1,prior,1,2,8,7.0,26405,5,0,both

In [26]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))