# 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [2]:
# Import ords_prods_merged.pkl
df_ords_prods_merged = pd.read_pickle(r'C:\Users\David\Desktop\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged.pkl')

In [3]:
path = r'C:\Users\David\Desktop\Instacart Basket Analysis'

In [4]:
# Check output
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,7.0,196,1,0,both,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [5]:
df = df_ords_prods_merged[:1000000]

In [6]:
# Check shape
df.shape

(1000000, 15)

In [7]:
# Define a function

def price_label(row):
    if row['prices'] <= 5:
        return 'Low range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid range products'
    elif row['prices'] > 15:
        return 'High range products'
    else: return np.nan

In [8]:
# Apply price label on dataframe
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\David\AppData\Local\Temp\ipykernel_23436\2213225355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
df['price_range'].value_counts(dropna = False)

price_range
Mid range products    756450
Low range product     243550
Name: count, dtype: int64

In [10]:
# Check max price
df['prices'].max()

14.8

 # If-statements with loc() Function

In [11]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\David\AppData\Local\Temp\ipykernel_23436\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [12]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [13]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [14]:
# Check value counts
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [15]:
# Repeat on the whole ords_prods_merged dataframe
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, ' price_range_loc'] = 'High-range product'

In [16]:
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <= 15) & (df_ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [17]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] < 5, 'price_range_loc'] = "Low-range product"

In [18]:
# Check value counts
df_ords_prods_merged['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    21860860
Low-range product     9900417
NaN                    643582
Name: count, dtype: int64

# If-statements with For-loops

In [19]:
# Create new column in dataframe
df_ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [20]:
result = []

for value in df_ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [21]:
df_ords_prods_merged['busiest_day'] = result

In [22]:
# Check value counts
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

# Task questions

In [23]:
# Create new label
result_2 = []

for value in df_ords_prods_merged["orders_day_of_week"]:
  if value == 0 or value == 1:
    result_2.append("Busiest days")
  elif value == 4 or value == 3:
    result_2.append("Least busy days")
  else:
    result_2.append("Regularly busy")

In [24]:
df_ords_prods_merged['busiest_days'] = result_2

In [25]:
# Check values
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range_loc,price_range_loc,busiest_day,busiest_days
0,2539329,1,prior,1,2,8,7.0,196,1,0,both,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Least busy days
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,NaN,Mid-range product,Regularly busy,Least busy days
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,NaN,Mid-range product,Least busy,Least busy days
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,NaN,Mid-range product,Least busy,Least busy days

In [26]:
df_ords_prods_merged['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy     12916111
Busiest days       11864412
Least busy days     7624336
Name: count, dtype: int64

Question 3 

I added up the least busiest days and busiest days manually and they add up.

In [27]:
# Check frequency of values in  "order_hour"
df_ords_prods_merged['order_hour'].value_counts()

order_hour
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

Question 4

Most orders = 10,11,14,15,13,12,16,9

Average orders = 17,8,18,19,20,7,21,22

Few orders = 23,6,0,1,5,3,4,3

In [28]:
# creating a new column
hour_of_day = []

for value in df_ords_prods_merged["order_hour"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    hour_of_day.append("Most orders")
  elif value in [23, 6, 0, 1, 5, 2, 4, 3]:
    hour_of_day.append("Fewest orders")
  else:
    hour_of_day.append("Average orders")

In [29]:
df_ords_prods_merged['busiest_period_of_day'] = hour_of_day

In [30]:
# Check columns
df_ords_prods_merged[['order_hour', 'busiest_period_of_day']].head()

   order_hour busiest_period_of_day
0           8        Average orders
1           7        Average orders
2          12           Most orders
3           7        Average orders
4          15           Most orders

In [31]:
# Print frequency of result
df_ords_prods_merged['busiest_period_of_day'].value_counts()

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

In [32]:
# Export data as pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated.pkl'))